.why {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-inline: 7rem;
    gap: 2rem;
    width: 100%;
    padding: var(--padding-section-desktop);
}
.whyTitle {
    font-size: 40px;
    color: var(--white);
}
.whyCardsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}
.whyItem {
    flex: 0 0 calc(33% - 100px);
    margin: 5px;
}

@media (max-width: 700px) {
    .why {
        padding-inline: 0;
        padding: var(--padding-section-mobile);
    }
    .whyItem {
        flex: auto;
    }
    .whyTitle {
        font-size: 22px;
        color: var(--white);
    }
}

@media (min-width: 701px) and (max-width: 1100px) {
    .why {
        padding: var(--padding-section-tablet);
    }
    .whyTitle {
        font-size: 36px;
        color: var(--white);
    }
}
