.serviceCard {
    display: grid;
    grid-template-columns: 270px repeat(5, 1fr);
    grid-template-areas: 'number title title title title more';
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 800px;
    background: linear-gradient(270.32deg, rgba(25, 25, 24, 0) 0.26%, rgba(49, 49, 49, 0.681208) 72.88%, rgba(51, 51, 51, 0.74) 99.74%);
    border-radius: 50px;
    border: 1px solid var(--border-color);
    overflow: hidden;
    font-family: var(--secondary-font);
    gap: 1rem;
}

.serviceCardNumber {
    grid-area: number;
    margin-top: 1rem;
    margin-left: -5rem;
    font-size: 150px;
    color: var(--primary-color);
}

.serviceCardText {
    grid-area: title;
    font-size: 40px;
    text-align: left;
}

.serviceCardMore {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    align-self: flex-end;
    margin: 1.5rem;
    grid-area: more;
    font-size: 40px;
    cursor: pointer;
}

@media (max-width: 700px) {
    .serviceCard {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 0;
    }
    .serviceCardNumber {
        margin-top: 0;
        line-height: 160px;
    }
    .serviceCardText {
        font-size: 16px;
        text-align: center;
    }
    .serviceCardMore {
        display: none;
    }
}

@media (min-width: 701px) and (max-width: 1100px) {
    .serviceCard {
        grid-template-columns: 200px repeat(5, 1fr);
        max-width: 100%;
    }
    .serviceCardNumber {
        font-size: 120px;
        color: var(--primary-color);
    }

    .serviceCardText {
        font-size: 25px;
    }
}
