.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: var(--padding-section-desktop);
    gap: 10rem;
}
.nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: var(--primary-color);
    padding-inline: 8rem;
}

@media (max-width: 700px) {
    .header {
        padding: 0;
        justify-content: center;
    }
    .nav {
        display: none;
    }
}
