.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: var(--padding-section-desktop);
    padding-block: 0;
    gap: 10rem;
}
.headerLogo {
    width: 200px;
    height: auto;
    object-fit: contain;
}
.nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: var(--primary-color);
    padding-inline: 10vw;
}
.nav a {
    font-size: 25px;
}

@media (max-width: 700px) {
    .header {
        padding: 0;
        justify-content: center;
    }
    .nav {
        display: none;
    }
    .nav a {
        font-size: 18px;
    }
}

@media (min-width: 701px) and (max-width: 1100px) {
    .header {
        padding-inline: 1.5rem;
        gap: 6rem;
    }
    .nav {
        padding-right: 2rem;
        padding-left: 0;
    }
    .nav a {
        font-size: 20px;
    }
}