:root {
    --max-width: 1100px;
    --button-radius: 40px;
    --card-radius: 12px;
    --padding-section-desktop: 2rem 4rem;
    --padding-section-mobile: 2rem 3rem;
    --padding-section-tablet: 4rem;

    --primary-font: 'Amiko';
    --secondary-font: 'Taurino Wide Medium';
    --primary-color: #dafd45;
    --secondary-color: #caea42;
    --border-color: #333333;
    --black: #000000;
    --white: #ffffff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    color: var(--white);
    max-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

body {
    background-color: var(--black);
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-size: 40px;
}
h2 {
    font-size: 50px;
}
h3 {
    font-size: 30px;
}
p {
    font-size: 25px;
}

@media (min-width: 701px) and (max-width: 1100px) {
    h1 {
        font-size: 35px;
    }
    h2 {
        font-size: 40px;
    }
    h3 {
        font-size: 25px;
    }
    p {
        font-size: 22px;
    }
}

@media (max-width: 700px) {
    h1 {
        font-size: 32px;
    }
    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 20px;
    }
    p {
        font-size: 18px;
    }
}
