:root {
    --max-width: 1100px;
    --button-radius: 40px;
    --card-radius: 12px;
    --padding-section: 2rem 4rem;

    --primary-font: 'Amiko';
    --secondary-font: 'Taurino Wide Medium';
    --primary-color: #dafd45;
    --secondary-color: #caea42;
    --border-color: #333333;
    --black: #000000;
    --white: #ffffff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    color: var(--white);
    max-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: var(--black);
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-size: 40px;
}
h2 {
    font-size: 50px;
}
h3 {
    font-size: 30px;
}
h4 {
    font-size: 20px;
}
h5 {
    font-size: 16px;
}
h6 {
    font-size: 14px;
}
