.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: var(--padding-section);
    gap: 10rem;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: var(--primary-color);
    padding-inline: 8rem;
}

/* MAIN SECTION */
.elevate {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: 'text text image image image';
    padding: var(--padding-section);
    padding-left: 7rem;
    padding-right: 0;
    min-height: calc(100vh - 250px);
}

.elevateText {
    grid-area: text;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.elevateImage {
    grid-area: image;
    display: flex;
    flex-direction: column;
    justify-content: center;
    object-fit: contain;
    background: url('../../public/background.png');
    background-repeat: no-repeat;
}

/* ABOUT SECTION */
.about {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5rem;
    width: 100%;
    background: url('../../public/background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.aboutText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 2rem;
}

.aboutTextDescription {
    display: flex;
    width: 800px;
    max-width: 90%;
}

.aboutDevelopers {
    display: flex;
}
.aboutDevelopersText {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.aboutDevelopersFiftyPlus {
    display: flex;
}
.aboutDevelopersFifty {
    font-size: 85px;
    color: var(--primary-color);
    font-family: var(--secondary-font);
}
.aboutDevelopersPlus {
    font-size: 85px;
    color: var(--primary-color);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.aboutDevelopersTextSkilled {
    max-width: 350px;
    text-align: left;
    padding-bottom: 10px;
}

/* SERVICES SECTION */
.services {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
    width: 100%;
}

/* WHY SECTION */
.why {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-inline: 7rem;
    gap: 2rem;
    width: 100%;
}

.whyTitle {
    font-size: 40px;
    color: var(--white);
}

.whyCardsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.whyItem {
    flex: 0 0 calc(33% - 100px);
    margin: 5px;
}

/* CONTACT SECTION */
.contactUs {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 3rem;
    width: 100%;
    background: url('../../public/background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.contactUsTitle {
    width: 800px;
    max-width: 90%;
    font-size: 50px;
    color: var(--white) !important;
    font-family: var(--secondary-font);
}

.contactUsDescription {
    display: flex;
    width: 700px;
    max-width: 90%;
    font-size: 25px;
}

/* SOCIAL SECTION */
.social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: var(--padding-section);
    gap: 10rem;
    border-top: 3px solid var(--border-color);
    height: 300px;
}
.socialContainer {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    justify-content: space-evenly;
    width: 100%;
}

/* Mobile */
@media (max-width: 700px) {
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}
