.home {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: 'text text image image image';
    padding: var(--padding-section);
    padding-left: 7rem;
    padding-right: 0;
    min-height: calc(100vh - 250px);
}
.homeText {
    grid-area: text;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}
.homeImage {
    grid-area: image;
    display: flex;
    flex-direction: column;
    justify-content: center;
    object-fit: contain;
    background: url('/background.png');
    background-repeat: no-repeat;
    mask-image: radial-gradient(black 60%, transparent);
}
