.about {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5rem;
    width: 100%;
    background: url('/background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    mask-image: radial-gradient(black 50%, transparent);
}
.aboutText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 2rem;
}
.aboutTextDescription {
    display: flex;
    width: 800px;
    max-width: 100%;
}
.aboutDevelopers {
    display: flex;
}
.aboutDevelopersImage {
    width: 550px;
    object-fit: contain;
}
.aboutDevelopersText {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.aboutDevelopersFiftyPlus {
    display: flex;
}
.aboutDevelopersFifty {
    font-size: 85px;
    color: var(--primary-color);
    font-family: var(--secondary-font);
}
.aboutDevelopersPlus {
    font-size: 85px;
    color: var(--primary-color);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.aboutDevelopersTextSkilled {
    max-width: 350px;
    text-align: left;
    padding-bottom: 10px;
}

@media (max-width: 700px) {
    .about {
        mask-image: none;
        padding: var(--padding-section-mobile);
        gap: 2rem;
    }
    .aboutTextDescription {
        text-align: center;
    }
    .aboutDevelopers {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
    .aboutDevelopersImage {
        width: 100%;
        height: auto;
    }
    .aboutDevelopersText {
        display: flex;
        align-items: flex-start;
        gap: 1rem;
    }
    .aboutDevelopersPlus,
    .aboutDevelopersFifty {
        font-size: 32px;
    }
    .aboutDevelopersTextSkilled {
        font-size: 16px;
    }
}
@media (min-width: 701px) and (max-width: 1100px) {
    .about {
        mask-image: none;
        padding: var(--padding-section-tablet);
        gap: 2rem;
    }
    .aboutDevelopers {
        display: flex;
        flex-direction: column;
        gap: 0rem;
    }
}
