.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: var(--padding-section-desktop);
    gap: 10rem;
    border-top: 3px solid var(--border-color);
    height: 300px;
}
.footerLogo {
    width: 180px;
    height: auto;
}
.socialContainer {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    justify-content: space-evenly;
    width: 100%;
}

@media (max-width: 700px) {
    .footer {
        flex-direction: column;
        height: auto;
        gap: 2rem;
    }
    .footerLogo {
        width: 120px;
    }
    .socialContainer {
        justify-content: space-between;
        gap: 0;
        padding-block: 1rem;
    }
}

@media (min-width: 701px) and (max-width: 1100px) {
    .footer {
        height: auto;
        gap: 16vw;
    }
    .footerLogo {
        width: 130px;
    }
    .socialContainer {
        justify-content: space-between;
        gap: 0;
        padding-block: 1rem;
    }
}