.contactUs {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 3rem;
    width: 100%;
    background: url('/background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    mask-image: radial-gradient(black 50%, transparent);
}
.contactUsTitle {
    width: 800px;
    max-width: 90%;
    font-size: 50px;
    color: var(--white) !important;
    font-family: var(--secondary-font);
}
.contactUsDescription {
    display: flex;
    width: 700px;
    max-width: 90%;
    font-size: 25px;
}

@media (max-width: 700px) {
    .contactUs {
        padding: var(--padding-section-mobile);
        mask-image: none;
    }
    .contactUsTitle {
        width: 100%;
        font-size: 30px;
        color: var(--white);
        font-family: var(--secondary-font);
    }
    .contactUsDescription {
        max-width: 100%;
        font-size: 18px;
    }
}

@media (min-width: 701px) and (max-width: 1100px) {
    .contactUs {
        padding: var(--padding-section-tablet);
        gap: 4rem;
        mask-image: none;
    }
    .contactUsTitle {
        font-size: 40px;
    }
    .contactUsDescription {
        max-width: 100%;
        font-size: 22px;
    }
}